@model Clinic_Web.Models.Models.Visit


@{
    ViewData["Title"] = "Utwórz wizytę";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Utwórz wizytę</h1></center>

<h4>Wizyta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" id="iddoctor" class="form-control" onchange= "goes()" asp-items="ViewBag.DoctorId">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" id="chosendata" class="form-control" onchange= "goes()" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            
                <div class="form-group">
                    <label asp-for="hour" class="control-label"></label>
                    <select asp-for="hour" class="form-control" asp-items="ViewBag.hour"></select>
                </div>

                <script>
                    function goes() {
                        var x = document.getElementById("iddoctor").value;
                        var y = document.getElementById("chosendata").value;
                        
                        if (y != "") {
                            
                        
                        $.ajax({
                      url: '@Url.Action("Updatedata", "Visits")',
                            dataType: "json",
                            data: { x, data: y} ,
                            success: function (data) {
                              var items = data;

                              var item = "";
                              var itemss


                               for (var i = 0; i < items.length; i++) {
                                  item = items[i];
                                  item = item.replace("0001-01-01T", "").slice(0, -3);
                                  itemss += "<option value='" + item + "'>" + item + "</option>"
                                   
                              }
                                 $('#hour').html(itemss);
                          },
                             });
                        } };
                   
                   </script>

             
            
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
            @if (ViewBag.Message != null)
            {
                <script charset="UTF-8" type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
                </script>
            }
        </form>
</div>
    </div>

    <div>
        <a asp-action="Index">Powrót</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    
}
