@model Clinic_Web.Models.Models.Visit

@{
    ViewData["Title"] = "Edycja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>Edycja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VisitId" />
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control" id="iddoctor" asp-items="ViewBag.DoctorId"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date"  id="chosendata"  class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hour" class="control-label"></label>
                <select asp-for="hour" class="form-control"  asp-items="ViewBag.hour"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cofnij</a>
</div>


<script>
                    function goess() {
                        var x = document.getElementById("iddoctor").value;
                        var y = document.getElementById("chosendata").value;


                        if (y != "") {


                        $.ajax({
                      url: '@Url.Action("Updatedata", "Visits")',
                            dataType: "json",
                            data: { x, data: y} ,
                            success: function (data) {
                                if (data == null) {
                                    alert("Podałeś złą date");

                                    $('#hour').empty();
                                }
                                else {
                                    console.log("else");
                                    var items = data;

                                var item = "";
                                var itemss


                                for (var i = 0; i < items.length; i++) {
                                    item = items[i];
                                    item = item.replace("0001-01-01T", "").slice(0, -3);
                                    itemss += "<option value='" + item + "'>" + item + "</option>"

                                }
                                    $('#hour').html(itemss);
                                    console.log(itemss);
                                }
                            },
                             });
                        } };

</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
